{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}

{% block body %}
    <div class="container">
        <div class="row">
            {% if shoes %}
                {% for shoe in shoes %}
                    <div class="col-md-4">
                        <a href="{{ url_for('detail', shoe_id=shoe.id) }}">
                            <br><br><hr class="bg-light">
                            <div class="thumbnail">
                                <img src="{{ shoe.image }}" alt="image not found">
                                <div class="caption text-light">
                                    <h3>{{ shoe.name }}</h3>
                                    <p>{{ shoe.size }}</p>
                                    <p>Ksh. {{ shoe.price }}</p>
                                </div>
                            </div>
                            <hr  class="bg-light">
                        </a>
                    </div>

                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock body %}